<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,99},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,99},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>btn_sms_card_type.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{150,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,98}}</string>
				<key>sourceSize</key>
				<string>{150,98}</string>
			</dict>

			<key>btn_sms_card_type_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,183},{150,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,98}}</string>
				<key>sourceSize</key>
				<string>{150,98}</string>
			</dict>

			<key>btn_switch_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{164,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,54}}</string>
				<key>sourceSize</key>
				<string>{164,54}</string>
			</dict>

			<key>btn_switch_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{164,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,54}}</string>
				<key>sourceSize</key>
				<string>{164,54}</string>
			</dict>

			<key>button_danger.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,60}}</string>
				<key>sourceSize</key>
				<string>{200,60}</string>
			</dict>

			<key>button_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{200,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,60}}</string>
				<key>sourceSize</key>
				<string>{200,60}</string>
			</dict>

			<key>button_violet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{200,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,60}}</string>
				<key>sourceSize</key>
				<string>{200,60}</string>
			</dict>

			<key>number.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,293},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,50}}</string>
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>

			<key>number_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,282},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>number_back_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,282},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>number_backall.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,293},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>number_backall_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,99},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>number_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,293},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,50}}</string>
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{354,344}</string>
			<key>textureFileName</key>
			<string>Button.png</string>
			<key>realTextureFileName</key>
			<string>Button.png</string>
			</dict>
		</dict>
</plist>