<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>angrybirds_bg_countdown_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_bg_countdown_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,1013},{113,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{113,88}</string>
   </dict>
   <key>angrybirds_bg_freespins.png</key>
   <dict>
    <key>frame</key>
    <string>{{1838,358},{141,165}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{141,165}</string>
   </dict>
   <key>angrybirds_bg_gold_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{790,1113},{378,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{378,81}</string>
   </dict>
   <key>angrybirds_bg_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{1092,0},{468,137}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{468,137}</string>
   </dict>
   <key>angrybirds_bg_jackpot_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,1249},{85,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{85,87}</string>
   </dict>
   <key>angrybirds_bg_jackpot_event.png</key>
   <dict>
    <key>frame</key>
    <string>{{1092,305},{343,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{343,164}</string>
   </dict>
   <key>angrybirds_bg_jackpot_event2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1092,139},{343,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{343,164}</string>
   </dict>
   <key>angrybirds_bg_mng_reward.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_bg_napcoin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1092,471},{309,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{309,81}</string>
   </dict>
   <key>angrybirds_bg_play_trial.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,1652},{138,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{138,126}</string>
   </dict>
   <key>angrybirds_bg_remaining_time_count.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1686},{159,129}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,129}</string>
   </dict>
   <key>angrybirds_bg_slots.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1090,552}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1090,552}</string>
   </dict>
   <key>angrybirds_bg_so_dong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1545,1646},{120,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{120,134}</string>
   </dict>
   <key>angrybirds_bg_so_phong.png</key>
   <dict>
    <key>frame</key>
    <string>{{650,1692},{271,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{271,83}</string>
   </dict>
   <key>angrybirds_bg_thongtin.png</key>
   <dict>
    <key>frame</key>
    <string>{{790,976},{404,135}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{404,135}</string>
   </dict>
   <key>angrybirds_bottom.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,554},{1260,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,144}</string>
   </dict>
   <key>angrybirds_btn_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,700},{320,511}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{320,511}</string>
   </dict>
   <key>angrybirds_btn_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,700},{320,511}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{320,511}</string>
   </dict>
   <key>angrybirds_btn_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,700},{320,511}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{320,511}</string>
   </dict>
   <key>angrybirds_btn_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,700},{320,511}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{320,511}</string>
   </dict>
   <key>angrybirds_btn_back.png</key>
   <dict>
    <key>frame</key>
    <string>{{1864,0},{118,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,126}</string>
   </dict>
   <key>angrybirds_btn_back_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1864,0},{118,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,126}</string>
   </dict>
   <key>angrybirds_btn_bangthuong.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1572},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>angrybirds_btn_dung.png</key>
   <dict>
    <key>frame</key>
    <string>{{1181,1647},{160,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,170}</string>
   </dict>
   <key>angrybirds_btn_lsgd.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1433},{74,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{74,78}</string>
   </dict>
   <key>angrybirds_btn_naptien.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_btn_quay.png</key>
   <dict>
    <key>frame</key>
    <string>{{1181,1647},{160,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{160,170}</string>
   </dict>
   <key>angrybirds_btn_settings.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,1496},{118,126}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{118,126}</string>
   </dict>
   <key>angrybirds_btn_sieutoc.png</key>
   <dict>
    <key>frame</key>
    <string>{{1667,1646},{157,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,94}</string>
   </dict>
   <key>angrybirds_btn_sieutoc2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1826,1646},{157,94}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,94}</string>
   </dict>
   <key>angrybirds_btn_vinhdanh.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1353},{75,78}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{75,78}</string>
   </dict>
   <key>angrybirds_coin.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_icon_jackpot copy.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1652},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>angrybirds_icon_jackpot.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_line_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1652},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>angrybirds_line_numb_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,1720},{66,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{66,66}</string>
   </dict>
   <key>angrybirds_mng_btn_start.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_multi_rate_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{1619,358},{217,147}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{217,147}</string>
   </dict>
   <key>angrybirds_nohu.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,554},{466,457}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{466,457}</string>
   </dict>
   <key>angrybirds_nohu_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_numb_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{411,1103},{12,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{12,11}</string>
   </dict>
   <key>angrybirds_symbol_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,976},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1181,1473},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,1323},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1545,1473},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,1150},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1646},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1473},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,976},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1181,1473},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1730,733},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>angrybirds_symbol_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1555,976},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>angrybirds_symbol_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1730,554},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>angrybirds_symbol_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1646},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1473},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1732,976},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1181,1473},{180,172}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,172}</string>
   </dict>
   <key>angrybirds_symbol_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1796,139},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>angrybirds_symbol_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{1437,353},{179,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,177}</string>
   </dict>
   <key>angrybirds_symbol_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1004,1473},{175,177}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,177}</string>
   </dict>
   <key>angrybirds_symbol_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1646},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,1473},{180,171}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,171}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1363,700},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1437,139},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1196,976},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1473},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,1353},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,1572},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1572},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1437,139},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1619,139},{175,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,217}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{650,1473},{175,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,217}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1473},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,1572},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{827,1473},{175,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,217}</string>
   </dict>
   <key>angrybirds_symbol_blur_2_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,1353},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{1437,139},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,1572},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1545,700},{175,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,217}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{181,1353},{180,212}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,212}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1378,976},{175,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,217}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1473},{180,211}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{180,211}</string>
   </dict>
   <key>angrybirds_symbol_blur_3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1353},{179,217}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{179,217}</string>
   </dict>
   <key>angrybirds_thanglon.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1013},{350,338}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{350,338}</string>
   </dict>
   <key>angrybirds_top_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1343},{1260,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,128}</string>
   </dict>
   <key>angrybirds_top_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1213},{1260,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,128}</string>
   </dict>
   <key>angrybirds_top_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1213},{1260,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,128}</string>
   </dict>
   <key>angrybirds_top_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1213},{1260,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,128}</string>
   </dict>
   <key>angrybirds_top_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{468,1213},{1260,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1260,128}</string>
   </dict>
   <key>angrybirds_trunggold.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_tuquay_progress.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_win_bg_freespin.png</key>
   <dict>
    <key>frame</key>
    <string>{{1562,0},{300,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{300,109}</string>
   </dict>
   <key>angrybirds_win_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_win_free_spin.png</key>
   <dict>
    <key>frame</key>
    <string>{{352,1103},{57,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,144}</string>
   </dict>
   <key>angrybirds_win_jackpot_bg_gold.png</key>
   <dict>
    <key>frame</key>
    <string>{{790,700},{571,274}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{571,274}</string>
   </dict>
   <key>angrybirds_win_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{363,1513},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>size</key>
	<string>{1985,1819}</string>
   <key>textureFileName</key>
   <string>slots_angrybirds.png</string>
  </dict>
 </dict>
</plist>
