<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,125},{122,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,91}}</string>
                <key>sourceSize</key>
                <string>{122,91}</string>
            </dict>
            <key>icon1_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,116}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,113},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>icon2_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,124},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>icon3_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,118}}</string>
                <key>sourceSize</key>
                <string>{72,118}</string>
            </dict>
            <key>icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{73,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>icon4_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1},{73,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,110}}</string>
                <key>sourceSize</key>
                <string>{73,110}</string>
            </dict>
            <key>icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,121},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>icon5_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1},{81,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,121}}</string>
                <key>sourceSize</key>
                <string>{81,121}</string>
            </dict>
            <key>icon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,121},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>icon6_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{66,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,118}}</string>
                <key>sourceSize</key>
                <string>{66,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemLNT.png</string>
            <key>size</key>
            <string>{490,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bcf7ac373aad48971c3f0e7b08b4d1b:f5dde77bd23b5cb543812a28007278d4:783c03af5c43d815f30a20d78192ce7e$</string>
            <key>textureFileName</key>
            <string>itemLNT.png</string>
        </dict>
    </dict>
</plist>
