<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>angrybirds_bg_mng_text_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,916},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_bg_mng_text_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,916},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_mng2_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
   <key>angrybirds_mng2_item_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng2_item_open_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_bg_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,916},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
   <key>angrybirds_mng_bg_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1560,720}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1560,720}</string>
   </dict>
   <key>angrybirds_mng_bg_thongbao.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,722},{712,520}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{712,520}</string>
   </dict>
   <key>angrybirds_mng_btn_close.png</key>
   <dict>
    <key>frame</key>
    <string>{{839,722},{94,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{94,100}</string>
   </dict>
   <key>angrybirds_mng_btn_item_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_rw_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_rw_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_rw_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_rw_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_mng_rw_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,722},{123,192}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{123,192}</string>
   </dict>
   <key>angrybirds_top_bg_minigame.png</key>
   <dict>
    <key>frame</key>
    <string>{{714,916},{57,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{57,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>size</key>
	<string>{1562,1244}</string>
   <key>textureFileName</key>
   <string>slots_angrybirds_minigame.png</string>
  </dict>
 </dict>
</plist>
