<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bích.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,814},{66,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,85}}</string>
				<key>sourceSize</key>
				<string>{66,85}</string>
			</dict>

			<key>cơ.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,814},{85,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,93}}</string>
				<key>sourceSize</key>
				<string>{85,93}</string>
			</dict>

			<key>frame_soluot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,479},{354,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,136}}</string>
				<key>sourceSize</key>
				<string>{354,136}</string>
			</dict>

			<key>frame_thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,617},{354,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,136}}</string>
				<key>sourceSize</key>
				<string>{354,136}</string>
			</dict>

			<key>frame_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{735,477}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{735,477}}</string>
				<key>sourceSize</key>
				<string>{735,477}</string>
			</dict>

			<key>frame_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,729},{183,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,47}}</string>
				<key>sourceSize</key>
				<string>{183,47}</string>
			</dict>

			<key>labai.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,479},{178,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,256}}</string>
				<key>sourceSize</key>
				<string>{178,256}</string>
			</dict>

			<key>labai_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,479},{184,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,248}}</string>
				<key>sourceSize</key>
				<string>{184,248}</string>
			</dict>

			<key>labai_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,755},{184,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,248}}</string>
				<key>sourceSize</key>
				<string>{184,248}</string>
			</dict>

			<key>light_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,809},{199,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,207}}</string>
				<key>sourceSize</key>
				<string>{199,207}</string>
			</dict>

			<key>miss.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,778},{111,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,34}}</string>
				<key>sourceSize</key>
				<string>{111,34}</string>
			</dict>

			<key>rô.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,909},{73,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,94}}</string>
				<key>sourceSize</key>
				<string>{73,94}</string>
			</dict>

			<key>title_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{258,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,52}}</string>
				<key>sourceSize</key>
				<string>{258,52}</string>
			</dict>

			<key>tép.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,909},{74,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,75}}</string>
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui_bonus.png</string>
			</dict>
		</dict>
</plist>