<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>3cay_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,0},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>TLMNsolo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1263},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>avenger.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,414},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>baicao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,1240},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>baucua_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,619},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>cocaro_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,207},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>cotuong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,1033},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>coup_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,826},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>game_label_coming_soon.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1470},{160,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,34}}</string>
				<key>sourceSize</key>
				<string>{160,34}</string>
			</dict>

			<key>keno_game_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>kho_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,0},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>khobau.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1263},{266,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,266}}</string>
				<key>sourceSize</key>
				<string>{266,266}</string>
			</dict>

			<key>kimcuong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,207},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>lieng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1035},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>maubinh_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,828},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>maubinhat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,621},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>minipoker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,414},{235,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,204}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>nu_diep_vien.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,842},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>nudiepvien.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1263},{266,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,266}}</string>
				<key>sourceSize</key>
				<string>{266,266}</string>
			</dict>

			<key>number_game_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,421},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>poker_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,1263},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>samloc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,0},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>samsolo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1242},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>sieu_anh_hung.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>tai_xiu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>tai_xiu_md5_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,842},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>trenduoi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,0},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>vuong_quoc_vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,0},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

			<key>vuongquocvin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,635},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>

			<key>xito.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,207},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>xizach_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,414},{235,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,206}}</string>
				<key>sourceSize</key>
				<string>{235,206}</string>
			</dict>

			<key>xocdia_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,421},{266,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,420}}</string>
				<key>sourceSize</key>
				<string>{266,420}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1509,1530}</string>
			<key>textureFileName</key>
			<string>GameLogo.png</string>
			</dict>
		</dict>
</plist>