<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>header_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{267,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,92}}</string>
				<key>sourceSize</key>
				<string>{267,92}</string>
			</dict>

			<key>header_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{267,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,92}}</string>
				<key>sourceSize</key>
				<string>{267,92}</string>
			</dict>

			<key>header_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{267,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,92}}</string>
				<key>sourceSize</key>
				<string>{267,92}</string>
			</dict>

			<key>header_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{265,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,92}}</string>
				<key>sourceSize</key>
				<string>{265,92}</string>
			</dict>

			<key>header_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,94},{267,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,92}}</string>
				<key>sourceSize</key>
				<string>{267,92}</string>
			</dict>

			<key>header_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{265,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,92}}</string>
				<key>sourceSize</key>
				<string>{265,92}</string>
			</dict>

			<key>header_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,714},{230,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,73}}</string>
				<key>sourceSize</key>
				<string>{230,73}</string>
			</dict>

			<key>header_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{231,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,73}}</string>
				<key>sourceSize</key>
				<string>{231,73}</string>
			</dict>

			<key>header_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{230,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,73}}</string>
				<key>sourceSize</key>
				<string>{230,73}</string>
			</dict>

			<key>header_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{230,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,73}}</string>
				<key>sourceSize</key>
				<string>{230,73}</string>
			</dict>

			<key>header_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,864},{230,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,73}}</string>
				<key>sourceSize</key>
				<string>{230,73}</string>
			</dict>

			<key>txt_allgame_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,939},{96,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,18}}</string>
				<key>sourceSize</key>
				<string>{96,18}</string>
			</dict>

			<key>txt_allgame_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,939},{96,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,18}}</string>
				<key>sourceSize</key>
				<string>{96,18}</string>
			</dict>

			<key>txt_gamebai_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,959},{99,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,18}}</string>
				<key>sourceSize</key>
				<string>{99,18}</string>
			</dict>

			<key>txt_gamebai_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,979},{99,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,18}}</string>
				<key>sourceSize</key>
				<string>{99,18}</string>
			</dict>

			<key>txt_livecasino_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,939},{121,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,18}}</string>
				<key>sourceSize</key>
				<string>{121,18}</string>
			</dict>

			<key>txt_livecasino_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,959},{120,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,18}}</string>
				<key>sourceSize</key>
				<string>{120,18}</string>
			</dict>

			<key>txt_minigame_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,999},{113,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,18}}</string>
				<key>sourceSize</key>
				<string>{113,18}</string>
			</dict>

			<key>txt_minigame_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{113,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,18}}</string>
				<key>sourceSize</key>
				<string>{113,18}</string>
			</dict>

			<key>txt_nohu_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,959},{65,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,22}}</string>
				<key>sourceSize</key>
				<string>{65,22}</string>
			</dict>

			<key>txt_nohu_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,639},{65,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,22}}</string>
				<key>sourceSize</key>
				<string>{65,22}</string>
			</dict>

			<key>txt_thethao_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,999},{96,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,21}}</string>
				<key>sourceSize</key>
				<string>{96,21}</string>
			</dict>

			<key>txt_thethao_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,999},{96,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,21}}</string>
				<key>sourceSize</key>
				<string>{96,21}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>tab_game.png</string>
			</dict>
		</dict>
</plist>