<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,160},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,251},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,251},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,251},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card23.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,251},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,319},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,376},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,376},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,376},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,376},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,501},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,501},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,501},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,501},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,501},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,478},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,626},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,626},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,626},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,626},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,626},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,637},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,751},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,751},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,751},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,751},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,796},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,876},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,876},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,876},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,876},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,876},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,955},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1001},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1001},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1001},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1001},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1001},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1126},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>cardBlur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1126},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1126},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1126},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1126},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1251},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1251},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1251},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1251},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1251},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1376},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1376},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1376},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1376},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>cardBlur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1376},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardItem.png</string>
            <key>size</key>
            <string>{945,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf48a811b240de5b492032777eda510:9d909f28bbab0956044ee8eb3f1f8847:da9301685d01b861794b157b85568a62$</string>
            <key>textureFileName</key>
            <string>CardItem.png</string>
        </dict>
    </dict>
</plist>
