<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,898},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,513},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,831},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,725},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,619},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,513},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,886},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,780},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,886},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,513},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1263,780},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,780},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,886},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,293},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,177},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,177},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,293},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,831},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,725},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,619},{150,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,104}}</string>
				<key>sourceSize</key>
				<string>{150,104}</string>
			</dict>

			<key>line-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,898},{255,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,58}}</string>
				<key>sourceSize</key>
				<string>{255,58}</string>
			</dict>

			<key>line-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,468},{367,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,191}}</string>
				<key>sourceSize</key>
				<string>{367,191}</string>
			</dict>

			<key>line-11.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,722},{367,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,174}}</string>
				<key>sourceSize</key>
				<string>{367,174}</string>
			</dict>

			<key>line-12.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,404},{368,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{368,176}}</string>
				<key>sourceSize</key>
				<string>{368,176}</string>
			</dict>

			<key>line-13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{369,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,176}}</string>
				<key>sourceSize</key>
				<string>{369,176}</string>
			</dict>

			<key>line-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,0},{361,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{361,175}}</string>
				<key>sourceSize</key>
				<string>{361,175}</string>
			</dict>

			<key>line-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{371,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{371,222}}</string>
				<key>sourceSize</key>
				<string>{371,222}</string>
			</dict>

			<key>line-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{371,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{371,178}}</string>
				<key>sourceSize</key>
				<string>{371,178}</string>
			</dict>

			<key>line-17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,583},{369,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,203}}</string>
				<key>sourceSize</key>
				<string>{369,203}</string>
			</dict>

			<key>line-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,583},{369,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,221}}</string>
				<key>sourceSize</key>
				<string>{369,221}</string>
			</dict>

			<key>line-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,806},{369,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,202}}</string>
				<key>sourceSize</key>
				<string>{369,202}</string>
			</dict>

			<key>line-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,292},{367,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,75}}</string>
				<key>sourceSize</key>
				<string>{367,75}</string>
			</dict>

			<key>line-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,0},{369,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,290}}</string>
				<key>sourceSize</key>
				<string>{369,290}</string>
			</dict>

			<key>line-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,661},{367,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,59}}</string>
				<key>sourceSize</key>
				<string>{367,59}</string>
			</dict>

			<key>line-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,468},{366,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,310}}</string>
				<key>sourceSize</key>
				<string>{366,310}</string>
			</dict>

			<key>line-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{365,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{365,291}}</string>
				<key>sourceSize</key>
				<string>{365,291}</string>
			</dict>

			<key>line-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{370,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,177}}</string>
				<key>sourceSize</key>
				<string>{370,177}</string>
			</dict>

			<key>line-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,267},{347,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,244}}</string>
				<key>sourceSize</key>
				<string>{347,244}</string>
			</dict>

			<key>line-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,0},{347,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{347,265}}</string>
				<key>sourceSize</key>
				<string>{347,265}</string>
			</dict>

			<key>line-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,292},{368,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{368,174}}</string>
				<key>sourceSize</key>
				<string>{368,174}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>lines.png</string>
			</dict>
		</dict>
</plist>