<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1750},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>100_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1670},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1750},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>10k_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1763},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1830},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>1k_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1910},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1923},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>DAT-CUOC.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1172},{794,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{794,496}}</string>
				<key>sourceSize</key>
				<string>{794,496}</string>
			</dict>

			<key>Group-18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{878,573}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{878,573}}</string>
				<key>sourceSize</key>
				<string>{878,573}</string>
			</dict>

			<key>THE-LE.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,575},{853,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{853,595}}</string>
				<key>sourceSize</key>
				<string>{853,595}</string>
			</dict>

			<key>box_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1813},{263,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,51}}</string>
				<key>sourceSize</key>
				<string>{263,51}</string>
			</dict>

			<key>btn_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,1843},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1670},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,269},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>btn_even.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1830},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>btn_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,360},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>btn_odd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1946},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,422},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>btn_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,484},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>dung.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1670},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>icon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1327},{147,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,146}}</string>
				<key>sourceSize</key>
				<string>{147,146}</string>
			</dict>

			<key>icon1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,873},{118,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,7},{118,133}}</string>
				<key>sourceSize</key>
				<string>{147,146}</string>
			</dict>

			<key>icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1475},{130,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,159}}</string>
				<key>sourceSize</key>
				<string>{130,159}</string>
			</dict>

			<key>icon2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1750},{103,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,8},{103,143}}</string>
				<key>sourceSize</key>
				<string>{130,159}</string>
			</dict>

			<key>icon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,1172},{152,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,153}}</string>
				<key>sourceSize</key>
				<string>{152,153}</string>
			</dict>

			<key>icon3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,733},{121,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,7},{121,138}}</string>
				<key>sourceSize</key>
				<string>{152,153}</string>
			</dict>

			<key>icon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1910},{136,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,131}}</string>
				<key>sourceSize</key>
				<string>{136,131}</string>
			</dict>

			<key>icon4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1008},{107,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,5},{107,121}}</string>
				<key>sourceSize</key>
				<string>{136,131}</string>
			</dict>

			<key>icon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1910},{123,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,135}}</string>
				<key>sourceSize</key>
				<string>{123,135}</string>
			</dict>

			<key>icon5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,0},{98,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{98,124}}</string>
				<key>sourceSize</key>
				<string>{123,135}</string>
			</dict>

			<key>icon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,575},{123,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,156}}</string>
				<key>sourceSize</key>
				<string>{123,156}</string>
			</dict>

			<key>icon6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,126},{96,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,8},{96,141}}</string>
				<key>sourceSize</key>
				<string>{123,156}</string>
			</dict>

			<key>quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1946},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>sieu toc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1866},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>text_bangvinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{349,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{349,40}}</string>
				<key>sourceSize</key>
				<string>{349,40}</string>
			</dict>

			<key>text_dongdatcuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1763},{339,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,48}}</string>
				<key>sourceSize</key>
				<string>{339,48}</string>
			</dict>

			<key>text_lichsugiaodich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1670},{376,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,49}}</string>
				<key>sourceSize</key>
				<string>{376,49}</string>
			</dict>

			<key>text_thele.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1990},{134,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,56}}</string>
				<key>sourceSize</key>
				<string>{134,56}</string>
			</dict>

			<key>tu quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,1866},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>