<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,824},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,745},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>100-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,903},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,745},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>1k-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,916},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,837},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,824},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>bonus table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,745},{275,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,30}}</string>
				<key>sourceSize</key>
				<string>{275,30}</string>
			</dict>

			<key>bỏ.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,824},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>chẵn.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,903},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>dung.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,824},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>history.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,806},{176,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,30}}</string>
				<key>sourceSize</key>
				<string>{176,30}</string>
			</dict>

			<key>lẻ.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,903},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>paytable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{207,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,29}}</string>
				<key>sourceSize</key>
				<string>{207,29}</string>
			</dict>

			<key>quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,745},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1066,744}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1066,744}}</string>
				<key>sourceSize</key>
				<string>{1066,744}</string>
			</dict>

			<key>sieu toc.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,837},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,806},{81,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,30}}</string>
				<key>sourceSize</key>
				<string>{81,30}</string>
			</dict>

			<key>tu quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,745},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

			<key>tát cả.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,916},{170,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,78}}</string>
				<key>sourceSize</key>
				<string>{170,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui_pikachu_en.png</string>
			</dict>
		</dict>
</plist>