<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TÀI.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,685},{149,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,100}}</string>
				<key>sourceSize</key>
				<string>{149,100}</string>
			</dict>

			<key>XỈU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,895},{167,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,106}}</string>
				<key>sourceSize</key>
				<string>{167,106}</string>
			</dict>

			<key>bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,0},{373,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{373,373}}</string>
				<key>sourceSize</key>
				<string>{378,377}</string>
			</dict>

			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1157,534}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1157,534}}</string>
				<key>sourceSize</key>
				<string>{1157,534}</string>
			</dict>

			<key>bg_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,0},{507,684}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{507,684}}</string>
				<key>sourceSize</key>
				<string>{507,684}</string>
			</dict>

			<key>bg_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,535},{865,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{865,366}}</string>
				<key>sourceSize</key>
				<string>{865,366}</string>
			</dict>

			<key>bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,775},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,75}}</string>
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>

			<key>btn_100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,833},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,535},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_10m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,771},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,771},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_1m.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,895},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,597},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,833},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_5k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,957},{170,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,61}}</string>
				<key>sourceSize</key>
				<string>{170,61}</string>
			</dict>

			<key>btn_allin.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,902},{230,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,85}}</string>
				<key>sourceSize</key>
				<string>{230,85}</string>
			</dict>

			<key>btn_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,535},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,68}}</string>
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>

			<key>btn_huy.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,685},{230,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,85}}</string>
				<key>sourceSize</key>
				<string>{230,85}</string>
			</dict>

			<key>btn_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,785},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>btn_xacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,902},{256,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,94}}</string>
				<key>sourceSize</key>
				<string>{256,94}</string>
			</dict>

			<key>dot_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,965},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>dot_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,986},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,986},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,965},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>dot_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,986},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>dot_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,965},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>dot_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,965},{35,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,37}}</string>
				<key>sourceSize</key>
				<string>{35,37}</string>
			</dict>

			<key>ic_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,786},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,786},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>ic_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,885},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>ic_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1506,775},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,865},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,88}}</string>
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>

			<key>ic_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,685},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>ic_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,685},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>icon_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,886},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,99}}</string>
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>

			<key>pageInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{119,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,40}}</string>
				<key>sourceSize</key>
				<string>{119,40}</string>
			</dict>

			<key>rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,685},{87,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{87,76}}</string>
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>

			<key>rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,604},{89,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{89,79}}</string>
				<key>sourceSize</key>
				<string>{90,79}</string>
			</dict>

			<key>rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,685},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{106,94}</string>
			</dict>

			<key>text_box_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{280,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,62}}</string>
				<key>sourceSize</key>
				<string>{280,62}</string>
			</dict>

			<key>text_box_datcuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,902},{248,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,70}}</string>
				<key>sourceSize</key>
				<string>{248,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>taixiu_canbang.png</string>
			</dict>
		</dict>
</plist>