<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>angrybirds_btn1_line_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,0},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn1_line_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{719,643},{174,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,120}</string>
   </dict>
   <key>angrybirds_btn1_line_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{719,765},{173,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,120}</string>
   </dict>
   <key>angrybirds_btn1_line_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{543,1010},{173,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,119}</string>
   </dict>
   <key>angrybirds_btn1_line_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,888},{173,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,121}</string>
   </dict>
   <key>angrybirds_btn1_line_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{543,888},{173,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,120}</string>
   </dict>
   <key>angrybirds_btn1_line_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,764},{174,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,122}</string>
   </dict>
   <key>angrybirds_btn1_line_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,767},{174,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,121}</string>
   </dict>
   <key>angrybirds_btn1_line_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1133},{173,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,119}</string>
   </dict>
   <key>angrybirds_btn1_line_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,1012},{173,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,120}</string>
   </dict>
   <key>angrybirds_btn1_line_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,643},{173,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{173,120}</string>
   </dict>
   <key>angrybirds_btn1_line_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1254},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn1_line_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,643},{181,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,119}</string>
   </dict>
   <key>angrybirds_btn1_line_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,1256},{157,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{157,120}</string>
   </dict>
   <key>angrybirds_btn1_line_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{525,1256},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn1_line_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,480},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn1_line_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{687,1134},{158,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,119}</string>
   </dict>
   <key>angrybirds_btn1_line_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{894,765},{159,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,120}</string>
   </dict>
   <key>angrybirds_btn1_line_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{719,1008},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn1_line_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{1070,643},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn2_line_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,360},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn2_line_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,888},{175,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,120}</string>
   </dict>
   <key>angrybirds_btn2_line_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{543,766},{174,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,120}</string>
   </dict>
   <key>angrybirds_btn2_line_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{719,887},{174,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,119}</string>
   </dict>
   <key>angrybirds_btn2_line_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{543,643},{174,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,121}</string>
   </dict>
   <key>angrybirds_btn2_line_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,890},{174,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,120}</string>
   </dict>
   <key>angrybirds_btn2_line_15.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,643},{175,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,122}</string>
   </dict>
   <key>angrybirds_btn2_line_16.png</key>
   <dict>
    <key>frame</key>
    <string>{{176,764},{175,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{175,121}</string>
   </dict>
   <key>angrybirds_btn2_line_17.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1132},{174,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,119}</string>
   </dict>
   <key>angrybirds_btn2_line_18.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1010},{174,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,120}</string>
   </dict>
   <key>angrybirds_btn2_line_19.png</key>
   <dict>
    <key>frame</key>
    <string>{{177,1011},{174,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{174,120}</string>
   </dict>
   <key>angrybirds_btn2_line_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,765},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn2_line_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{183,643},{181,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{181,119}</string>
   </dict>
   <key>angrybirds_btn2_line_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,887},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn2_line_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,240},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn2_line_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{1176,120},{156,118}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{156,118}</string>
   </dict>
   <key>angrybirds_btn2_line_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{895,1009},{158,119}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,119}</string>
   </dict>
   <key>angrybirds_btn2_line_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{366,1134},{159,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{159,120}</string>
   </dict>
   <key>angrybirds_btn2_line_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{527,1134},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_btn2_line_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,1253},{158,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{158,120}</string>
   </dict>
   <key>angrybirds_line_chooser_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{1174,641}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{1174,641}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_bochon.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,887},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_bochon2.png</key>
   <dict>
    <key>frame</key>
    <string>{{847,1134},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_dongchan.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,1256},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_dongchan2.png</key>
   <dict>
    <key>frame</key>
    <string>{{1055,970},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_dongle.png</key>
   <dict>
    <key>frame</key>
    <string>{{683,1339},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_dongle2.png</key>
   <dict>
    <key>frame</key>
    <string>{{909,1256},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_tatca.png</key>
   <dict>
    <key>frame</key>
    <string>{{1073,1134},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_btn_tatca2.png</key>
   <dict>
    <key>frame</key>
    <string>{{909,1339},{224,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{224,81}</string>
   </dict>
   <key>angrybirds_line_chooser_close_btn.png</key>
   <dict>
    <key>frame</key>
    <string>{{1230,643},{94,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{94,100}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>size</key>
	<string>{1334,1442}</string>
   <key>textureFileName</key>
   <string>slots_angrybirds_linechooser.png</string>
  </dict>
 </dict>
</plist>
