<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{281,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,254}}</string>
				<key>sourceSize</key>
				<string>{281,254}</string>
			</dict>

			<key>btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{282,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,249}}</string>
				<key>sourceSize</key>
				<string>{282,249}</string>
			</dict>

			<key>btn_sieutoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,377},{144,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,136}}</string>
				<key>sourceSize</key>
				<string>{144,136}</string>
			</dict>

			<key>btn_sieutoc_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,515},{144,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,136}}</string>
				<key>sourceSize</key>
				<string>{144,136}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,822},{144,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,136}}</string>
				<key>sourceSize</key>
				<string>{144,136}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,0},{144,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,136}}</string>
				<key>sourceSize</key>
				<string>{144,136}</string>
			</dict>

			<key>choithat.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,231},{191,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,144}}</string>
				<key>sourceSize</key>
				<string>{191,144}</string>
			</dict>

			<key>choithu.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,231},{191,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,144}}</string>
				<key>sourceSize</key>
				<string>{191,144}</string>
			</dict>

			<key>dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,152},{147,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,111}}</string>
				<key>sourceSize</key>
				<string>{147,111}</string>
			</dict>

			<key>frame_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,921},{183,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,83}}</string>
				<key>sourceSize</key>
				<string>{183,83}</string>
			</dict>

			<key>freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,414},{256,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,220}}</string>
				<key>sourceSize</key>
				<string>{256,220}</string>
			</dict>

			<key>ic_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,921},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,101}}</string>
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>

			<key>ic_bangthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,653},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,915},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,737},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,915},{110,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,101}}</string>
				<key>sourceSize</key>
				<string>{110,101}</string>
			</dict>

			<key>ic_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,138},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,653},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,737},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>ic_sound_offf.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,138},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,410},{234,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,208}}</string>
				<key>sourceSize</key>
				<string>{234,208}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,822},{227,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,181}}</string>
				<key>sourceSize</key>
				<string>{227,181}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,0},{239,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,229}}</string>
				<key>sourceSize</key>
				<string>{239,229}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,620},{229,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,200}}</string>
				<key>sourceSize</key>
				<string>{229,200}</string>
			</dict>

			<key>jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,665},{262,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{262,248}}</string>
				<key>sourceSize</key>
				<string>{262,248}</string>
			</dict>

			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{520,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{520,150}}</string>
				<key>sourceSize</key>
				<string>{520,150}</string>
			</dict>

			<key>muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,283},{252,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,125}}</string>
				<key>sourceSize</key>
				<string>{252,125}</string>
			</dict>

			<key>tongcuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,283},{298,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,129}}</string>
				<key>sourceSize</key>
				<string>{298,129}</string>
			</dict>

			<key>tongthang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{322,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{322,129}}</string>
				<key>sourceSize</key>
				<string>{322,129}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui_main.png</string>
			</dict>
		</dict>
</plist>